<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
 <system.serviceModel>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
     multipleSiteBindingsEnabled="true" />
    <services>
       <service behaviorConfiguration="MyServicesBehavior" name="WcfService1.TestService">
          <endpoint address="" binding="wsHttpBinding" bindingConfiguration="myBinding"
             contract="WcfService1.ITestService" />
       </service>
    </services>
    <behaviors>
       <serviceBehaviors>
          <behavior name="MyServicesBehavior">
             <serviceMetadata httpGetEnabled="true" />
             <serviceDebug includeExceptionDetailInFaults="true" />
             <serviceThrottling maxConcurrentCalls="5" maxConcurrentSessions="10"
                maxConcurrentInstances="10" />
          </behavior>
          <behavior name="">
             <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
             <serviceDebug includeExceptionDetailInFaults="false" />
          </behavior>
       </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="myBinding"
                 openTimeout="00:10:00"
                 closeTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00"
                 maxBufferPoolSize="1500000"
                 maxReceivedMessageSize="1500000">
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
